@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #010103;
    color: var(--white-60);
}

:root {
    --yellow: #e9e521;
    --white-60: #c5c9cf;
}

.app {
    .link {
        text-decoration: none;
        transition: color ease-in-out 0.3s;

        &:hover {
            color: var(--yellow);
        }
    }

    .app-header-container {
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: center;
        padding: 5px 0px 0px 0px;
        z-index: 1;
        font-family: "Nunito", sans-serif;

        .app-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid var(--yellow);
            width: 60%;
            padding: 15px 50px;

            .nav-header {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
            }

            .github-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 2px;

                a {
                    height: 22px;

                    svg {
                        width: 22px;
                        height: 22px;
                        stroke: var(--white-60);
                        transition: all ease-in-out 0.3s;
                    }

                    &:hover {
                        svg {
                            stroke: var(--yellow);
                        }
                    }
                }
            }
        }
    }

    .app-content {
        padding-top: 100px;
        width: 100%;
        font-family: "Montserrat", sans-serif;
    }
}

@media screen and (max-width: 600px) {
    .app-header {
        width: 90% !important;
        padding: 15px 30px !important;

        .current-page-content {
            display: none;
        }
    }
}